.user-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
}

.mat-mdc-menu-item {
  min-height: 36px !important;
}

.box {
  cursor: pointer;
  float: left;
  height: 16px;
  width: 16px;
  border-radius: 10%;
  clear: both;
}